* {
  background-color: rgb(230, 230, 230);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8; /* Firefox */
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.8;
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.8;
  font-style: italic;
}

.main {
  background-color: #fff;
  width: 30%;
  border-radius: 5px;
  margin: 100px auto;
  border: 0.5px solid rgb(206, 206, 206);
  box-shadow: 0 0 20px rgba(61, 60, 60, 0.959);
}

.main p {
  margin: 0;
  font-size: 20px;
}

.header {
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  width: 100%;
  padding: 8px;
}

.input:focus {
  outline: none;
}

.inputs {
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 0;
  padding: 5px;
  display: flex;
}

.footer {
  text-align: center;
  color: rgb(100, 100, 100);
  background-color: rgb(199, 199, 199);
}

.footer p {
  padding: 10px;
}
